/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--gry);
    color: var(--blc);
}

:root{
    --wht: #ffffff;
    --blc: #000;
    --gry: #F8F8F8;
    --gry1: #cccc;
    --gry2: #888888;
    --blue: #59A3E5;
    --red: #C73442;
}

.container {
    padding: 0 10px;
}

a {
    text-decoration: none;
}

button{
    border: none;
    outline: none;
}

input{
    border: none;
    outline: none;
}

.flex{
    width: 100%;
    display: flex;
    gap: 20px;
    background: var(--gry);
    padding: 10px;
}

.flex_width{
    width: 80%;
}

.every_site{
    width: 90%;
    margin: 20px auto;
    background: var(--wht);
    border-radius: 20px;
    padding: 10px;
}

.color{
    background: yellow;
}